@model Model.StasjonRegAdmin

@{
    ViewBag.Title = "HentStasjon";
    Layout = "~/Views/Shared/_NavBar.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">
        function Tom() {
            $("#tekst").empty();
        }


    </script>
</head>


<h2 class="mb-4 mt-4">Endre Stasjon</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div id="tekst">
            @if (Session["EndreStasjon"] == null)
            {
                <p></p>
            }
            else
            {
                if (Session["EndreStasjon"] is false)
                {

                    <p class="text-danger">Stasjonen finnes allerede</p>
                }
                else
                {
                    <p></p>

                }
            }

        </div>




        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group mb-4">
        <div class="col-md-5"  >
           <p class="text-danger"> - En stasjon MÅ alltid være koblet til minst EN linje</p>
        </div>
        @Html.LabelFor(model => model.Navn, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.Navn, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Navn, "", new { @class = "text-danger" })
        </div>


    </div>


        @Html.LabelFor(model => model.ValgteLinjer, htmlAttributes: new { @class = "control-label col-md-2" })
        <div id="FeilMelding"></div>
        @foreach (var item in Model.AlleLinjer)
        {
            <div  class="checkbox ml-4">
                <label>
                    <input type="checkbox"
                           name="ValgteLinjer"
                           value="@item.id"
                           @if (Model.ValgteLinjer.Contains(item.id)) { <text> checked </text>  } /> @item.Navn
                    </label>
                </div>
            }
        @Html.ValidationMessageFor(model => model.ValgteLinjer, "", new { @class = "text-danger" })


        <div class="form-group mt-4">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lagre" class="btn btn-success btn-lg" onclick="Tom()" />
            </div>
        </div>
    </div>
}

